# clang-format configuration for lcdproc-g15
#
# Copyright (C) 2025 n0vedad <https://github.com/n0vedad/>
#
# This configuration is released under the same license as the project (GPL v2)

# Based on LLVM style with Linux Kernel modifications
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
TabWidth: 8
ColumnLimit: 100
BreakBeforeBraces: Linux
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
InsertNewlineAtEOF: true
IndentCaseLabels: false