[Unit]
Description=lcdproc client
Requires=lcdd.service
After=lcdd.service network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/lcdproc -c /etc/lcdproc.conf -f
Restart=on-failure
RestartSec=5s
Environment=HOME=/var/lib/lcdproc
DynamicUser=yes
StateDirectory=lcdproc
SupplementaryGroups=input

[Install]
WantedBy=multi-user.target